/* ANIMA screen - themobiles-postercopy */

.font-class-1 {
  font-family:"HelveticaNeue-Bold", Helvetica, Arial, serif;
}
.font-class-2 {
  font-family:"HelveticaNeue", Helvetica, Arial, serif;
  line-height:24.0px;
}
.themobiles-postercopy {
  background-color:var(--white);
  background-image:url(../img/themobileshopposter-copy-fill-1-3DD4CC6E-A5CC-45DC-B8CD-3804D7334FFB.png);
  background-size:100% 100%;
  height:842px;
  overflow:hidden;
  position:relative;
  width:563px;
}
.themobiles-postercopy .bizrise-m5x5n3 {
  background-color:rgba(255,255,255,0);
  height:15px;
  left:0px;
  position:absolute;
  top:1px;
  width:108px;
}
.themobiles-postercopy .fastest-delivery-u2022-t-C61RwL {
  background-color:rgba(255,255,255,0);
  color:var(--sonic-silver);
  font-family:"BarlowCondensed-Medium", Helvetica, Arial, serif;
  font-size: 17px;
  height:auto;
  left:40px;
  letter-spacing:0.00px;
  line-height:25.0px;
  position:absolute;
  text-align:left;
  top:269px;
  white-space:nowrap;
  width:477px;
}
.themobiles-postercopy .garg-grocery-and-ess-cJ4fth {
  background-color:rgba(255,255,255,0);
  color:rgba(255,241,141,1.0);
  font-size:18.0px;
  height:auto;
  left:0px;
  line-height:37.0px;
  position:absolute;
  text-align:left;
  top:31px;
  white-space:nowrap;
  width:auto;
}
.themobiles-postercopy .get-your-order-del-C61RwL {
  background-color:rgba(255,255,255,0);
  color:var(--rusty-red);
  font-size:26.0px;
  height:auto;
  left:40px;
  line-height:32.0px;
  position:absolute;
  text-align:left;
  top:229px;
  white-space:nowrap;
  width:auto;
}
.themobiles-postercopy .group-2-C61RwL {
  background-color:rgba(255,255,255,0);
  background-image:url(../img/themobileshopposter-copy-fill-1-copy-136359EC-3FA3-4BC8-B0BB-E532484E69FD.png);
  background-size:100% 100%;
  height:178px;
  left:0px;
  position:absolute;
  top:664px;
  width:563px;
}
.themobiles-postercopy .group-3-NOXmfT {
  background-color:rgba(255,255,255,0);
  height:67px;
  left:40px;
  position:relative;
  top:49px;
  width:477px;
}
.themobiles-postercopy .group-4-iZjIT4 {
  background-color:var(--white);
  height:300px;
  left:0px;
  position:absolute;
  top:0px;
  width:313px;
}
.themobiles-postercopy .group-5-C61RwL {
  background-color:rgba(255,255,255,0);
  height:300px;
  left:0px;
  position:absolute;
  top:334px;
  width:517px;
}
.themobiles-postercopy .group-6-SO40Oe {
  background-color:rgba(255,255,255,0);
  height:94px;
  left:1px;
  position:absolute;
  top:0px;
  width:141px;
}
.themobiles-postercopy .group-65-xZ6GWR {
  background-color:rgba(255,255,255,0);
  height:32px;
  left:76px;
  position:absolute;
  top:0px;
  width:32px;
}
.themobiles-postercopy .group-7-C61RwL {
  background-color:rgba(255,255,255,0);
  height:119px;
  left:386px;
  position:absolute;
  top:694px;
  width:142px;
}
.themobiles-postercopy .group-71-xZ6GWR {
  background-color:rgba(255,255,255,0);
  height:25px;
  left:0px;
  position:absolute;
  top:62px;
  width:108px;
}
.themobiles-postercopy .group-72-copy-3C5gIm {
  background-color:rgba(255,255,255,0);
  height:88px;
  left:32px;
  position:absolute;
  top:0px;
  width:108px;
}
.themobiles-postercopy .group-8-zUixHA {
  background-color:rgba(255,255,255,0);
  height:119px;
  left:40px;
  position:relative;
  top:30px;
  width:275px;
}
.themobiles-postercopy .group-C61RwL {
  background-color:rgba(255,255,255,0);
  background-image:url(../img/themobileshopposter-copy-fill-1-copy-78A4B314-76B2-4AD7-A2DD-F60D3234210D.png);
  background-size:100% 100%;
  height:155px;
  left:0px;
  position:absolute;
  top:0px;
  width:563px;
}
.themobiles-postercopy .image-48-j2aF3b {
  background-color:rgba(255,255,255,0);
  height:28px;
  left:247px;
  position:absolute;
  top:77px;
  width:28px;
}
.themobiles-postercopy .image-95-5FNhjl {
  background-color:rgba(255,255,255,0);
  height:276px;
  left:25px;
  position:absolute;
  top:12px;
  width:276px;
}
.themobiles-postercopy .just-whats-app-u2018-hiu2019-o-j2aF3b {
  background-color:rgba(255,255,255,0);
  color:rgba(37,37,37,1.0);
  font-size:20.0px;
  height:auto;
  left:0px;
  position:absolute;
  text-align:left;
  top:33px;
  white-space:nowrap;
  width:auto;
}
.themobiles-postercopy .line-3C5gIm {
  background-color:rgba(255,255,255,0);
  height:1px;
  left:23px;
  position:absolute;
  top:93px;
  width:118px;
}
.themobiles-postercopy .now-order-online-fro-C61RwL {
  background-color:rgba(255,255,255,0);
  color:var(--rusty-red);
  font-size:36.0px;
  height:auto;
  left:40px;
  line-height:44.0px;
  position:absolute;
  text-align:left;
  top:185px;
  white-space:nowrap;
  width:auto;
}
.themobiles-postercopy .order-iZjIT4 {
  background-color:rgba(255,255,255,0);
  color:var(--rusty-red);
  font-family:"HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size:34.0px;
  height:auto;
  left:337px;
  letter-spacing:-0.03px;
  line-height:41.0px;
  position:absolute;
  text-align:left;
  top:113px;
  white-space:nowrap;
  width:auto;
}
.themobiles-postercopy .raiseyourbusinesstakeitonline-m5x5n3 {
  background-color:rgba(255,255,255,0);
  height:5px;
  left:0px;
  position:absolute;
  top:20px;
  width:108px;
}
.themobiles-postercopy .scan-iZjIT4 {
  background-color:rgba(255,255,255,0);
  color:var(--rusty-red);
  font-size:34.0px;
  height:auto;
  left:337px;
  line-height:41.0px;
  position:absolute;
  text-align:left;
  top:21px;
  white-space:nowrap;
  width:auto;
}
.themobiles-postercopy .scan-using-phoneu2019s-c-iZjIT4 {
  background-color:rgba(255,255,255,0);
  color:rgba(0,0,0,1.0);
  font-family:"BarlowCondensed-Medium", Helvetica, Arial, serif;
  font-size:22.0px;
  height:auto;
  left:337px;
  letter-spacing:0.00px;
  line-height:26.0px;
  position:absolute;
  text-align:left;
  top:168px;
  width:180px;
}
.themobiles-postercopy .select-iZjIT4 {
  background-color:rgba(255,255,255,0);
  color:var(--rusty-red);
  font-size:34.0px;
  height:auto;
  left:337px;
  line-height:41.0px;
  position:absolute;
  text-align:left;
  top:67px;
  white-space:nowrap;
  width:auto;
}
.themobiles-postercopy .span1-xxHUdW {
  letter-spacing:0.00px;
}
.themobiles-postercopy .span2-xxHUdW {
  font-family:"HelveticaNeue-Medium", Helvetica, Arial, serif;
  letter-spacing:0.00px;
}
.themobiles-postercopy .unable-to-scan-j2aF3b {
  background-color:rgba(255,255,255,0);
  color:rgba(37,37,37,1.0);
  font-size:24.0px;
  height:auto;
  left:0px;
  line-height:29.0px;
  position:absolute;
  text-align:left;
  top:0px;
  white-space:nowrap;
  width:auto;
}
.themobiles-postercopy .visit-bizrisein-SO40Oe {
  background-color:rgba(255,255,255,0);
  color:var(--sonic-silver);
  display:flex;
  font-size:12.0px;
  height:24px;
  left:-2px;
  position:absolute;
  text-align:right;
  top:95px;
  white-space:nowrap;
  width:141px;
}
.themobiles-postercopy .welcome-to-cJ4fth {
  background-color:rgba(255,255,255,0);
  color:var(--white);
  font-size:24.0px;
  height:auto;
  left:0px;
  line-height:29.0px;
  position:absolute;
  text-align:left;
  top:0px;
  white-space:nowrap;
  width:auto;
}
.themobiles-postercopy .x-powered-by-3C5gIm {
  background-color:rgba(255,255,255,0);
  color:var(--sonic-silver);
  font-size:14.0px;
  height:24px;
  left:-2px;
  position:absolute;
  text-align:right;
  top:33px;
  white-space:nowrap;
  width:141px;
}
.themobiles-postercopy .x78273-73421-j2aF3b {
  background-color:rgba(255,255,255,0);
  color:rgba(0,0,0,1.0);
  font-family:"Lato-Black", Helvetica, Arial, serif;
  font-size:38.0px;
  height:53px;
  left:0px;
  letter-spacing:0.00px;
  line-height:46.0px;
  position:absolute;
  text-align:left;
  top:66px;
  white-space:nowrap;
  width:261px;
}
:root {
  --rusty-red:rgba(220,56,68,1.0);
  --sonic-silver:rgba(119,119,119,1.0);
  --white:rgba(255,255,255,1.0);
}